$types: success, info, warning, error;

$typesMap: (
  success: (
    bg-color:  rgb(27, 94, 32),
    text-color: rgb(250, 250, 250),
    title-color: rgb(250, 250, 250),
    message-color: rgb(250, 250, 250),
    close-icon-color: rgb(250, 250, 250)
  ),
  info: (
    bg-color: rgb(26, 35, 126),
    text-color: rgb(250, 250, 250),
    title-color: rgb(250, 250, 250),
    message-color: rgb(250, 250, 250),
    close-icon-color: rgb(250, 250, 250)
  ),
  warning: (
    bg-color: rgb(255, 111, 0),
    text-color: rgb(250, 250, 250),
    title-color: rgb(250, 250, 250),
    message-color: rgb(250, 250, 250),
    close-icon-color: rgb(250, 250, 250)
  ),
  error: (
    bg-color: rgb(183,28,28),
    text-color: rgb(250, 250, 250),
    title-color: rgb(250, 250, 250),
    message-color: rgb(250, 250, 250),
    close-icon-color: rgb(250, 250, 250)
  )
);
